openapi: 3.0.3
info:
  title: Communication Gateway API
  description: |
    Communication Gateway for MEDrecord platform.
    
    **IMPORTANT: This is a SEPARATE Vercel project** from the main MedPlum repository.
    
    This gateway handles multi-channel patient communication:
    - WhatsApp (Twilio)
    - SMS (Twilio)
    - Email (Postmark)
    - Voice (ElevenLabs)
    
    The gateway receives webhooks from MedPlum subscriptions and delivers messages
    to patients via the configured channel.
  version: 1.0.0
  contact:
    name: MEDrecord Development Team
    url: https://medrecord.nl

servers:
  - url: https://comms.medrecord.nl
    description: Production Communication Gateway

tags:
  - name: Webhooks
    description: MedPlum subscription webhooks
  - name: Callbacks
    description: Provider delivery callbacks (Twilio, Postmark)
  - name: WhatsApp
    description: WhatsApp interactive message handlers
  - name: Status
    description: Health and status endpoints

paths:
  # ============================================
  # Health & Status
  # ============================================
  /health:
    get:
      tags: [Status]
      summary: Health check
      security: []
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy]
                  timestamp:
                    type: string
                    format: date-time

  # ============================================
  # MedPlum Webhooks
  # ============================================
  /api/webhooks/task-created:
    post:
      tags: [Webhooks]
      summary: Handle Task created subscription
      description: |
        Called by MedPlum when a new questionnaire Task is created with status=requested.
        Initiates message delivery to patient via configured channel.
      security:
        - SubscriptionSecret: []
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIRTask'
      responses:
        '200':
          description: Webhook processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '400':
          description: Invalid payload
        '401':
          description: Invalid subscription secret

  /api/webhooks/task-reminder:
    post:
      tags: [Webhooks]
      summary: Handle Task reminder subscription
      description: |
        Called by MedPlum for tasks requiring reminder notifications.
      security:
        - SubscriptionSecret: []
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIRTask'
      responses:
        '200':
          description: Reminder sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'

  /api/webhooks/response-completed:
    post:
      tags: [Webhooks]
      summary: Handle QuestionnaireResponse completed
      description: |
        Called when patient completes questionnaire. Triggers clinician notification.
      security:
        - SubscriptionSecret: []
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIRQuestionnaireResponse'
      responses:
        '200':
          description: Notification sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'

  # ============================================
  # Provider Callbacks
  # ============================================
  /api/callbacks/twilio/status:
    post:
      tags: [Callbacks]
      summary: Twilio message status callback
      description: |
        Receives delivery status updates from Twilio for WhatsApp and SMS messages.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TwilioStatusCallback'
      responses:
        '200':
          description: Status processed

  /api/callbacks/twilio/whatsapp:
    post:
      tags: [Callbacks, WhatsApp]
      summary: Twilio WhatsApp incoming message
      description: |
        Receives incoming WhatsApp messages from patients (replies, button clicks).
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TwilioWhatsAppMessage'
      responses:
        '200':
          description: Message processed
          content:
            application/xml:
              schema:
                type: string
                description: TwiML response

  /api/callbacks/postmark/bounce:
    post:
      tags: [Callbacks]
      summary: Postmark bounce webhook
      description: |
        Receives email bounce notifications from Postmark.
      security:
        - PostmarkWebhook: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostmarkBounce'
      responses:
        '200':
          description: Bounce processed

  /api/callbacks/postmark/delivery:
    post:
      tags: [Callbacks]
      summary: Postmark delivery webhook
      description: |
        Receives email delivery confirmations from Postmark.
      security:
        - PostmarkWebhook: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostmarkDelivery'
      responses:
        '200':
          description: Delivery processed

  /api/callbacks/elevenlabs/call-completed:
    post:
      tags: [Callbacks]
      summary: ElevenLabs call completed
      description: |
        Receives call completion events from ElevenLabs voice calls.
      security:
        - ElevenLabsWebhook: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElevenLabsCallCompleted'
      responses:
        '200':
          description: Call status processed

  # ============================================
  # WhatsApp Interactive
  # ============================================
  /api/whatsapp/session/{sessionId}:
    get:
      tags: [WhatsApp]
      summary: Get WhatsApp session state
      description: |
        Retrieves current state of an interactive WhatsApp questionnaire session.
        Used internally for conversation flow management.
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Session state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsAppSession'
        '404':
          description: Session not found or expired

components:
  securitySchemes:
    SubscriptionSecret:
      type: apiKey
      in: header
      name: X-Subscription-Secret
      description: HMAC signature from MedPlum subscription

    PostmarkWebhook:
      type: apiKey
      in: header
      name: X-Postmark-Signature
      description: Postmark webhook signature

    ElevenLabsWebhook:
      type: apiKey
      in: header
      name: X-ElevenLabs-Signature
      description: ElevenLabs webhook signature

  schemas:
    # FHIR Resources (simplified)
    FHIRTask:
      type: object
      description: FHIR Task resource
      properties:
        resourceType:
          type: string
          enum: [Task]
        id:
          type: string
        status:
          type: string
          enum: [requested, in-progress, completed, cancelled, failed]
        intent:
          type: string
        code:
          type: object
          properties:
            coding:
              type: array
              items:
                type: object
                properties:
                  system:
                    type: string
                  code:
                    type: string
        for:
          type: object
          description: Patient reference
          properties:
            reference:
              type: string
        focus:
          type: object
          description: Questionnaire reference
          properties:
            reference:
              type: string
        extension:
          type: array
          items:
            type: object

    FHIRQuestionnaireResponse:
      type: object
      description: FHIR QuestionnaireResponse resource
      properties:
        resourceType:
          type: string
          enum: [QuestionnaireResponse]
        id:
          type: string
        status:
          type: string
          enum: [in-progress, completed, amended]
        questionnaire:
          type: string
        subject:
          type: object
          properties:
            reference:
              type: string
        item:
          type: array
          items:
            type: object

    # Webhook Responses
    WebhookResponse:
      type: object
      properties:
        success:
          type: boolean
        messageId:
          type: string
        channel:
          type: string
          enum: [whatsapp, sms, email, voice]
        status:
          type: string
          enum: [queued, sent, delivered, failed]
        error:
          type: string

    # Twilio Callbacks
    TwilioStatusCallback:
      type: object
      properties:
        MessageSid:
          type: string
        MessageStatus:
          type: string
          enum: [queued, sent, delivered, undelivered, failed, read]
        To:
          type: string
        From:
          type: string
        ErrorCode:
          type: string
        ErrorMessage:
          type: string

    TwilioWhatsAppMessage:
      type: object
      properties:
        MessageSid:
          type: string
        From:
          type: string
          description: "whatsapp:+31612345678"
        To:
          type: string
        Body:
          type: string
        ButtonText:
          type: string
          description: Text of button clicked (for interactive messages)
        ButtonPayload:
          type: string
          description: Payload of button clicked

    # Postmark Callbacks
    PostmarkBounce:
      type: object
      properties:
        ID:
          type: integer
        Type:
          type: string
        TypeCode:
          type: integer
        Name:
          type: string
        Tag:
          type: string
        MessageID:
          type: string
        ServerID:
          type: integer
        Description:
          type: string
        Details:
          type: string
        Email:
          type: string
        From:
          type: string
        BouncedAt:
          type: string
          format: date-time

    PostmarkDelivery:
      type: object
      properties:
        MessageID:
          type: string
        Recipient:
          type: string
        DeliveredAt:
          type: string
          format: date-time
        Details:
          type: string

    # ElevenLabs Callbacks
    ElevenLabsCallCompleted:
      type: object
      properties:
        call_id:
          type: string
        status:
          type: string
          enum: [completed, failed, no_answer, busy]
        duration_seconds:
          type: integer
        transcript:
          type: string
        patient_response:
          type: object
          description: Extracted questionnaire responses from voice call

    # WhatsApp Session
    WhatsAppSession:
      type: object
      properties:
        sessionId:
          type: string
        taskId:
          type: string
        patientId:
          type: string
        questionnaireId:
          type: string
        currentQuestion:
          type: integer
        totalQuestions:
          type: integer
        answers:
          type: array
          items:
            type: object
            properties:
              linkId:
                type: string
              answer:
                type: object
        status:
          type: string
          enum: [active, completed, expired, cancelled]
        expiresAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
